/* https://html.spec.whatwg.org/multipage/rendering.html#the-page */
html,
body {
  display: block;
}

body {
  margin: 8px;
}

/* https://html.spec.whatwg.org/#hidden-elements */
area,
base,
basefont,
datalist,
head,
link,
meta,
noembed,
noframes,
param,
rp,
script,
style,
template,
title {
  display: none;
}

a,
abbr,
acronym,
audio,
b,
bdi,
bdo,
big,
br,
button,
canvas,
cite,
code,
data,
del,
dfn,
em,
embed,
i,
iframe,
img,
input,
ins,
kbd,
label,
map,
mark,
meter,
noscript,
object,
output,
picture,
progress,
q,
ruby,
s,
samp,
select,
slot,
small,
span,
strong,
sub,
sup,
svg,
textarea,
time,
u,
tt,
var,
video,
wbr {
  display: inline;
}

address,
article,
aside,
blockquote,
details,
dialog,
div,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
hr,
li,
main,
nav,
pre,
section,
table {
  display: block;
}

/* TODO(robinlinden): margin-top/bottom -> margin-block-start/end once handled. */
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

/* Phrasing content */
/* https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3 */
:link {
  color: #0000ee;
}

ins,
u {
  text-decoration: underline;
}

del,
s,
strike {
  text-decoration: line-through;
}

/* Lists */
/* https://html.spec.whatwg.org/multipage/rendering.html#lists */
/* TODO(robinlinden): Finish section. */
dir,
dd,
dl,
dt,
menu,
ol,
ul {
  display: block;
}

dir,
dl,
menu,
ol,
ul {
  margin-top: 1em;
  margin-top: 1em;
}

dd {
  margin-left: 40px;
}

dir,
menu,
ol,
ul {
  padding-left: 40px;
}
