head {
  display: none;
}

a,
abbr,
acronym,
audio,
b,
bdi,
bdo,
big,
br,
button,
canvas,
cite,
code,
data,
datalist,
del,
dfn,
em,
embed,
i,
iframe,
img,
input,
ins,
kbd,
label,
map,
mark,
meter,
noscript,
object,
output,
picture,
progress,
q,
ruby,
s,
samp,
script,
select,
slot,
small,
span,
strong,
sub,
sup,
svg,
template,
textarea,
time,
u,
tt,
var,
video,
wbr {
  display: inline;
}

address,
article,
aside,
blockquote,
details,
dialog,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
li,
main,
nav,
ol,
p,
pre,
section,
table,
ul {
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
}

h2 {
  display: block;
  font-size: 1.5em;
}

h3 {
  display: block;
  font-size: 1.17em;
}

h4 {
  display: block;
  font-size: 1em;
}

h5 {
  display: block;
  font-size: 0.83em;
}

h6 {
  display: block;
  font-size: 0.67em;
}
