# Build configuration
# =========================================================

build:debug -c dbg
build:release -c opt

# Compiler configuration
# =========================================================

build:gnulike --cxxopt='-std=c++2a'
build:gnulike --copt='-Wall'
build:gnulike --copt='-Wextra'
build:gnulike --copt='-pedantic-errors'
build:gnulike --copt='-Werror'
build:gnulike --copt='-Wdouble-promotion'
build:gnulike --copt='-Wformat=2'
build:gnulike --copt='-Wmissing-declarations'
build:gnulike --copt='-Wnull-dereference'
build:gnulike --copt='-Wshadow'
build:gnulike --copt='-Wsign-compare'
build:gnulike --copt='-Wundef'
build:gnulike --copt='-fno-common'
build:gnulike --cxxopt='-Wnon-virtual-dtor'
build:gnulike --cxxopt='-Woverloaded-virtual'
build:gnulike --copt='-Wno-missing-field-initializers' # Common idiom for zeroing members.
build:gnulike --per_file_copt='net:socket@-Wno-undef' # asio leaks this into our code.
build:gnulike --per_file_copt='net:socket@-Wno-shadow' # asio leaks this into our code.
build:gnulike --per_file_copt='external/asio[:/]@-Wno-sign-compare'
build:gnulike --per_file_copt='external/asio[:/]@-Wno-undef'
build:gnulike --per_file_copt='external/boringssl[:/]@-Wno-overlength-strings'
build:gnulike --per_file_copt='external/boringssl[:/]@-Wno-unused-parameter'
build:gnulike --per_file_copt='external/freetype2[:/]@-Wno-sometimes-uninitialized'
build:gnulike --per_file_copt='external/glew[:/]@-Wno-undef'
build:gnulike --per_file_copt='external/imgui-sfml[:/]@-Wno-double-promotion'
build:gnulike --per_file_copt='external/imgui-sfml[:/]@-Wno-implicit-fallthrough'
build:gnulike --per_file_copt='external/imgui[:/]@-Wno-double-promotion'
build:gnulike --per_file_copt='external/libpng[:/]@-Wno-undef'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-double-promotion'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-implicit-fallthrough'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-missing-declarations'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-shadow'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-sign-compare'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-undef'
build:gnulike --per_file_copt='external/sfml[:/]@-Wno-unused-parameter'
build:gnulike --per_file_copt='external/udev-zero[:/]@-Wno-format-nonliteral'
build:gnulike --per_file_copt='external/udev-zero[:/]@-Wno-unused-parameter'
build:gnulike --per_file_copt='external/zlib[:/]@-Wno-format-nonliteral'

build:clang --config=gnulike
build:clang --per_file_copt='external/boringssl[:/]@-Wno-extra-semi'
build:clang --per_file_copt='external/boringssl[:/]@-Wno-gnu-binary-literal'

build:clang13 --config=clang
build:clang13 --per_file_copt='external/libpng[:/]@-Wno-null-pointer-subtraction'
build:clang13 --per_file_copt='external/libpng[:/]@-Wno-unused-but-set-variable'

build:gcc --config=gnulike
build:gcc --per_file_copt='external/boringssl[:/]@-Wno-cast-function-type'
build:gcc --per_file_copt='external/boringssl[:/]@-Wno-pedantic'
build:gcc --per_file_copt='external/freetype2[:/]@-Wno-cast-function-type'
build:gcc --per_file_copt='external/freetype2[:/]@-Wno-implicit-fallthrough'
build:gcc --per_file_copt='external/ftxui[:/]@-Wno-missing-declarations'
build:gcc --per_file_copt='external/zlib[:/]@-Wno-implicit-fallthrough'

build:gcc11 --config=gcc
build:gcc11 --per_file_copt='net:socket@-Wno-nonnull' # asio leaks this into our code.
build:gcc11 --per_file_copt='external/imgui[:/]@-Wno-deprecated-enum-enum-conversion'
build:gcc11 --per_file_copt='external/libpng[:/]@-Wno-maybe-uninitialized'

build:msvc --enable_runfiles
build:msvc --cxxopt='/std:c++20'
build:msvc --copt='/W4' # More warnings.
build:msvc --copt='/WX' # Treat warnings as errors.
build:msvc --copt='/permissive-' # Conform to the standard.
build:msvc --per_file_copt='external/boringssl[:/]@/wd4100' # C4100: 'out_public_key': unreferenced formal parameter
build:msvc --per_file_copt='external/boringssl[:/]@/wd4127' # C4127: conditional expression is constant
build:msvc --per_file_copt='external/boringssl[:/]@/wd4244' # C4244: '=': conversion from 'unsigned int' to 'uint8_t', possible loss of data
build:msvc --per_file_copt='external/boringssl[:/]@/wd4267' # C4267: '=': conversion from 'size_t' to 'int', possible loss of data
build:msvc --per_file_copt='external/boringssl[:/]@/wd4706' # C4706: assignment within conditional expression
build:msvc --per_file_copt='external/freetype2[:/]@/wd4018' # C4018: '>': signed/unsigned mismatch
build:msvc --per_file_copt='external/freetype2[:/]@/wd4100' # C4100: 'msg_tag': unreferenced formal parameter
build:msvc --per_file_copt='external/freetype2[:/]@/wd4244' # C4244: '=': conversion from '__int64' to 'FT_Int', possible loss of data
build:msvc --per_file_copt='external/freetype2[:/]@/wd4267' # C4267: '=': conversion from 'size_t' to 'FT_ULong', possible loss of data
build:msvc --per_file_copt='external/freetype2[:/]@/wd4312' # C4312: 'type cast': conversion from 'unsigned long' to 'void *' of greater size
build:msvc --per_file_copt='external/freetype2[:/]@/wd4701' # C4701: potentially uninitialized local variable 'cbox' used
build:msvc --per_file_copt='external/freetype2[:/]@/wd4702' # C4702: unreachable code
build:msvc --per_file_copt='external/ftxui[:/]@/wd4244' # C4244: '=': conversion from 'int' to 'uint8_t', possible loss of data
build:msvc --per_file_copt='external/ftxui[:/]@/wd4267' # C4267: '=': conversion from 'size_t' to 'int', possible loss of data
build:msvc --per_file_copt='external/sfml[:/]@/wd4100' # C4100: 'visible': unreferenced formal parameter
build:msvc --per_file_copt='external/sfml[:/]@/wd4244' # C4244: 'initializing': conversion from 'sf::Uint32' to 'sf::Uint8', possible loss of data
build:msvc --per_file_copt='external/sfml[:/]@/wd4456' # C4456: declaration of 'i' hides previous local declaration
build:msvc --per_file_copt='external/sfml[:/]@/wd4701' # C4701: potentially uninitialized local variable 'shape' used
build:msvc --per_file_copt='external/sfml[:/]@/wd4703' # C4703: potentially uninitialized local pointer variable 'shape' used
build:msvc --per_file_copt='external/zlib[:/]@/wd4127' # C4127: conditional expression is constant
build:msvc --per_file_copt='external/zlib[:/]@/wd4131' # C4131: 'adler32_z': uses old-style declarator
build:msvc --per_file_copt='external/zlib[:/]@/wd4244' # C4244: '+=': conversion from 'int' to 'ush', possible loss of data
build:msvc --per_file_copt='external/zlib[:/]@/wd4245' # C4245: '=': conversion from 'int' to 'unsigned int', signed/unsigned mismatch
build:msvc --per_file_copt='external/zlib[:/]@/wd4267' # C4267: '=': conversion from 'size_t' to 'int', possible loss of data

# Special build options
# =========================================================

# Currently only supported for Clang 13 and newer.
build:libc++ --cxxopt=-stdlib=libc++
build:libc++ --linkopt=-stdlib=libc++

# Some of this is from "Can I run AddressSanitizer with more aggressive diagnostics enabled?"
# on https://github.com/google/sanitizers/wiki/AddressSanitizer#faq and some is from
# https://chromium.googlesource.com/external/github.com/grpc/grpc/+/4e9206f48c91e17f43856b016b12f59dd5118293/tools/bazel.rc
build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --copt=-fsanitize-address-use-after-scope
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address
build:asan --action_env=ASAN_OPTIONS=detect_leaks=1:strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1
build:asan --action_env=LSAN_OPTIONS=report_objects=1

build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt=-fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined
build:ubsan --linkopt -lubsan
build:ubsan --action_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1

# Misc configuration
# =========================================================

test --test_output=errors

try-import %workspace%/.bazelrc.local
