# Build configuration
# =========================================================

build:debug -c dbg
build:release -c opt

# Compiler configuration
# =========================================================

build:gnulike --cxxopt='-std=c++2a'
build:gnulike --cxxopt='-Wall'
build:gnulike --cxxopt='-Wextra'
build:gnulike --cxxopt='-pedantic-errors'
build:gnulike --cxxopt='-Werror'
build:gnulike --cxxopt='-Wdouble-promotion'
build:gnulike --cxxopt='-Wformat=2'
build:gnulike --cxxopt='-Wmissing-declarations'
build:gnulike --cxxopt='-Wnon-virtual-dtor'
build:gnulike --cxxopt='-Wnull-dereference'
build:gnulike --cxxopt='-Woverloaded-virtual'
build:gnulike --cxxopt='-Wshadow'
build:gnulike --cxxopt='-Wsign-compare'
build:gnulike --cxxopt='-Wundef'
build:gnulike --cxxopt='-fno-common'
build:gnulike --per_file_copt='browser:main@-Wno-undef' # asio leaks this into our code.
build:gnulike --per_file_copt='external/ftxui[:/]@-Wno-shadow'

build:msvc --cxxopt='/std:c++latest'
build:msvc --cxxopt='/W4' # More warnings.
build:msvc --cxxopt='/WX' # Treat warnings as errors.
build:msvc --cxxopt='/permissive-' # Conform to the standard.
build:msvc --per_file_copt='external/ftxui[:/]@/wd4005' # C4005: 'NOMINMAX': macro redefinition
build:msvc --per_file_copt='external/ftxui[:/]@/wd4244' # C4244: '=': conversion from 'int' to 'uint8_t', possible loss of data
build:msvc --per_file_copt='external/ftxui[:/]@/wd4267' # C4267: '=': conversion from 'size_t' to 'int', possible loss of data

# Misc configuration
# =========================================================

test --test_output=errors

try-import %workspace%/.bazelrc.local
