# Developer-specific configuration
#
# Copy this to .bazelrc.local and adjust.

# Choose a build type
build --config debug
# build --config release

# Choose a compiler
build --config clang
# build --config gcc

# Other interesting build options
# build --config asan
# build --config ubsan
