# Developer-specific configuration
#
# Copy this to .bazelrc.local and uncomment --config lines you want.
#
# Only the clang-cl compiler on Windows requires any special --config flags.

# Choose a build type
build -c dbg
# build -c opt

# Choose a compiler
## Windows
# build --config clang-cl

# Other interesting build options
# build --config asan
# build --config tsan
# build --config ubsan

# build --config libc++ # only supported when compiling with Clang.
# build --config clang14-coverage # required to generate code coverage reports with Clang 14.
