---
# -bugprone-easily-swappable-parameters: Noisy, and there are other checks that
# catch things like suspicious call arguments.
#
# -bugprone-exception-escape: We don't use exceptions and will be building with
# -fno-exceptions soon.
#
# -bugprone-narrowing-conversions: Very noisy for not much gain.
#
# -cert-err58-cpp: False positives on lots of lambdas.
#  /usr/lib/llvm-21/bin/../include/c++/v1/__type_traits/invoke.h:116:19: error: initialization of '__is_nothrow_invocable_impl<true, (lambda at ./util/string.h:97:37) &, char &, char &>' with static storage duration may throw an exception that cannot be caught [cert-err58-cpp,-warnings-as-errors]
#  116 | inline const bool __is_nothrow_invocable_impl<true, _Args...> = noexcept(__builtin_invoke(std::declval<_Args>()...));
#      |                   ^
#./util/string.h:97:37: note: possibly throwing function declared here
#   97 |     return std::ranges::equal(a, b, [](auto c1, auto c2) { return lowercased(c1) == lowercased(c2); });
#      |                                     ^
#
# TODO(robinlinden): Enable again once this is fixed in libfmt or we're std::format instead.
# -clang-analyzer-optin.cplusplus.UninitializedObject: Unusable together with
# libfmt due to warnings about uninitialized fields triggering everywhere string
# formatting is used. Last tested with 11.1.4.
#
# -cppcoreguidelines-[...]: TODO(robinlinden): Investigate.
#
# -google-build-using-namespace: We use `using namespace` in tests and for std::literals.
#
# -misc-const-correctness: Consts some things that can't be const, and very very noisy.
#
# -modernize-use-nodiscard: Very noisy, and probably more meaningful if we only
# add it where it matters.
#
# -modernize-use-trailing-return-type: Stylistic change, and something we
# haven't been doing so far.
#
# -readability-container-data-pointer: We actually want a pointer to the first element.
#
# -readability-convert-member-functions-to-static: Makes some APIs confusing, especially when
# used in combination with readability-static-accessed-through-instance.
#
# -readability-function-cognitive-complexity: TODO(robinlinden): Investigate. Maybe case-by-case.
#
# -readability-function-size: TODO(robinlinden): Investigate. Maybe case-by-case.
#
# -readability-identifier-length: Requiring at least 3 characters for identifiers is silly.
#
# -readability-magic-numbers: Things implemented from specs and unit tests
# contain a lot of magic numbers.
#
# -readability-named-parameter: Leaving out argument names is fine where it doesn't add anything.
#
# TODO(robinlinden): Investigate.
# -readability-uppercase-literal-suffix
# -modernize-use-designated-initializers
# -readability-math-missing-parentheses
Checks: >
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -cert-err58-cpp,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-special-member-functions,
  -google-build-using-namespace,
  -misc-const-correctness,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-container-data-pointer,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -modernize-use-designated-initializers,
  -readability-math-missing-parentheses

WarningsAsErrors: "*"

HeaderFilterRegex: "\\./(archive|azm|browser|css|css2|dom|engine|etest|geom|gfx|html|html2|idna|img|js|json|layout|net|os|protocol|render|style|tui|type|unicode|uri|url|util|wasm)/"

CheckOptions:
  # bugprone-suspicious-stringview-data-usage
  #
  # `util::from_chars_result` still errors in util/from_chars_test.cpp on
  # `util::from_chars_result{from.data(), ...`, so no namespace it is.
  - key: bugprone-suspicious-stringview-data-usage.AllowedCallees
    value: std::distance;from_chars_result

  # readability-identifier-naming
  # Classes, structs, ...
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  # Variables, member variables, ...
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _

  # Functions, methods, ...
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: LLVMFuzzerTestOneInput

  # Constants
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase

  # readability-qualified-auto
  # Don't complain about this for e.g. array iterators as they're ptrish in
  # libc++, but not in e.g. MSVC.
  - key: readability-qualified-auto.AllowedTypes
    value: iterator(_t)?

  # misc-non-private-member-variables-in-classes
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
